@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--fontSecondary);
  text-decoration: none;
  list-style: none;
}

:root {
  --bgColor: #fff;
  --lightColor: #d8d8d8;
  --darkColor: #333;
  --titleColorDark: #4a4a4a;
  --titleColorLight: #fdc886;
  --fontPrimary: "Poppins", sans-serif;
  --fontSecondary: "Roboto", sans-serif;
  --smallFontSize: 16px;
  --mediumFontSize: 18px;
  --largeFontSize: 20px;
  --titleFontSize: 24px;
  --titleFontSizeBiger: 32px;
  --textCallsWeight: 600;
  --mediuCallsWeight: 450;
  --bgColor: #FFFEFC;
}

body #principal {
  background-color: var(--bgColor);
  height:fit-content;
  margin-top: 3rem;

}

body footer{
  background-color: #333;
  color: #fff;

}


#principal #containerChamada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 150px;
}

#principal #containerChamada #textoChamada {
   background-color: #FDC886;
   color: var(--titleColorDark);
   height: 50vh;
   width: 80%;
   padding: 100px;
   border-radius: 10px;

}

/* #principal #containerChamada #textoChamada #decoration1 {
  position: absolute;
  width: 20%;
  opacity: 0.7;
  z-index: -1;
  margin: -100px -100px;
} */

#principal #containerChamada #textoChamada h2 {
  margin-bottom: 5vh;
  text-align: center;
  font-size: var(--titleFontSizeBiger);
  font-weight: var(--mediuCallsWeight);
}

#principal #containerChamada #textoChamada p {
  font-size: 18px;
  text-align: center;

  width: 100%;
}

#principal #containerChamada #textoChamada button {
  margin-left: 5px;
  cursor: pointer;
}

#principal #containerChamada img {
  width: 42%;
  display: none;
}

#principal #containerChamada #botaoChamada{

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#principal #formsContainer #infBasica{
  background-color: #d9d9d9;
  height: fit-content;
  width: 60vw;
  margin: 20px auto 100px auto;
  border-radius: 5px;
  padding: 50px;


}
#principal #formsContainer h3{
  text-align: center;
   margin: 20px auto 50px auto;
}

#principal #formsContainer h2{
  text-align: center;
  margin: 20px auto 10px auto;
}

#principal #formsContainer #infBasica textarea{

  width: 100%;
  height: 80px;
}

#principal #formsContainer #infBasica input{
  width: 100%;
  height: 40px;
}
#principal #formsContainer #infBasica label{
  display: block;
  margin: 10px 0px 10px 0px;
  color:#4a4a4a
}

#principal #formsContainer #infBasica #btnArea{
  /* background-color: #FDC886; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
}

#principal #formsContainer #infBasica #btnArea button{
  padding: 10px 20px;
  border-radius: 5px;
}



#principal #formsContainer #contatos{
  background-color: #d9d9d9;
  width: 30vw;
  height: fit-content;
  border-radius: 5px;
  padding: 55px;
  margin: 10px auto 100px auto;
}

#principal #formsContainer #contatos input, label{
  border-radius: 5px;
  display: block;
  width: 100%;
  margin: 10px;
  height: 30px;
}
#principal #formsContainer #contatos #btnArea{
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;

}
#principal #formsContainer #contatos button{
  padding: 10px 20px;
  border-radius: 5px;
}


#principal #containerAcoes{
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 100px; */
  /* height: 40VH; */
   margin: 50px auto 50px auto;
/*
   background-color: coral; */
}

#principal #containerAcoes #formAcoes{
  background-color: #d9d9d9;
  width: 30vw;
  height: fit-content;
  border-radius: 5px;
  /* margin-left: 5rem; */
   padding: 30px;
}

#principal #containerAcoes #formAcoes #inputArea{
  /* background-color: #FDC886; */
  width: 100%;
}

#principal #containerAcoes #formAcoes #inputArea input {
  width: 100%;
  height: 30px;
}

#principal #containerAcoes #formAcoes #inputArea label{
  display: block;
  margin-top: 20px;


}

#principal #containerAcoes #formAcoes #btnArea{
  /* background-color: aquamarine; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
}

#principal #containerAcoes #formAcoes #btnArea button{
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#principal #containerAcoes #formAcoes label{
  display: block;
  margin: 10px 0px 10px 0px;
  color:#4a4a4a
}

#principal #containerAcoes #listaAcoes{
  padding: 20px;
  width: 50%;
  height: 95vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color:#9d9d9e;
  border-radius: 5px;
  margin: 30px;
}


#principal #containerAcoes #listaAcoes #cardAcao{
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}




#principal #containerAcoes #listaAcoes #cardAcao li{
  margin-bottom: 10px;


}



#principal #containerAcoes #listaAcoes #cardAcao #btnArea{
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-end;
  gap: 20px;

}


#principal #containerAcoes #listaAcoes #cardAcao #btnArea button{
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


#principal #formsContainer #containerVagas{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#principal #formsContainer #containerVagas #formVagas input, label{
  border-radius: 5px;
  display: block;
  width: 100%;
  /* margin: 10px; */
  height: 30px;
}

#principal #formsContainer #containerVagas #formVagas label{
  display: block;
  margin: 10px 0px 10px 0px;
  color:#4a4a4a
}


#principal #formsContainer #containerVagas #formVagas #btnArea{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 30px;
}


#principal #formsContainer #containerVagas #listaVagas{
  padding: 20px;
  width: 50%;
  height: 95vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color:#9d9d9e;
  border-radius: 5px;
  margin: 30px;

}


#principal #formsContainer #containerVagas #listaVagas #cardVaga{
  background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    word-wrap: break-word;

}













.roundBtnDk {
  border-radius: 10px;
  width: 40px;
  height: 20px;
  background-color: #333;
  border: none;
}

.formContainer{
  background-color: #d9d9d9;
  width: 30vw;
  height: fit-content;
  border-radius: 5px;
  /* margin-left: 5rem; */
  padding: 55px;
}

.inputText {
  border-radius: 5px;
  display: block;
  height: 4.5vh;
  width: 100%;
  margin-bottom: 20px;
}


.btnArea {
    /* background-color: skyblue; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;

}

.formBtn {
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
}

.textArea{
  width: 100%;
  height: 10vh;
  border-radius: 5px;

}

.titulosH2{
  text-align: center;
  margin:50px 0px 50px 0px;
  font-size: var(--titleFontSizeBiger);

}

.titulosH3{
  text-align: center;
  margin: 10px 0px 10px 0px;
}
