@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --lightColor: #d8d8d8;
  --darkColor: #333;
  --titleColorDark: #4a4a4a;
  --titleColorLight: #fdc886;
  --fontPrimary: "Poppins", sans-serif;
  --fontSecondary: "Roboto", sans-serif;
  --smallFontSize: 16px;
  --mediumFontSize: 18px;
  --largeFontSize: 20px;
  --titleFontSize: 24px;
  --titleFontSizeBigger: 32px;
  --textCallsWeight: 600;
}

/* MAIN CSS */
main {
  font-family: var(--fontPrimary);
  color: var(--titleColorDark);
  font-size: var(--smallFontSize);
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 2rem;
}

/*.roundBtn {
    border-radius: 10px;
    width: 40px;
    height: 20px;
    background-color: var(--titleColorLight);
    border: none;
  }
*/

body #principal {
  margin-top: 60px;
}

#principal #containerChamada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-image: url(../img/manchaTintaRosa.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50px 100px; */
  /* background-color: #017071; */
}

#principal #containerChamada #textoChamada {
  /* background-color: #017071; */
  margin-left: 120px;
  margin-right: 60px;
}

#principal #containerChamada #textoChamada #decoration1 {
  position: absolute;
  width: 20%;
  opacity: 0.4;
  z-index: -1;
  margin: -100px -100px;
}

#principal #containerChamada #textoChamada h1 {
  margin-bottom: 5vh;
  font-size: var(--titleFontSizeBigger);
  color: var(--titleColorDark);
}

#principal #containerChamada #textoChamada p {
  font-size: var(--largeFontSize);
  text-align: left;
  width: 100%;
}

#principal #containerChamada img {
  width: 42%;
}

/* PESQUISA */
.containerVagas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.vagasSearch-txt {
  width: 100%;
  padding: 1em;
  border: solid 1px #4a4a4a;
  border-radius: 5px;
  color: var(--titleColorDark);
  opacity: 0.6;
  font-size: 1em;
  font-family: var(--fontSecondary);
}

#vagasSearchButton {
  position: relative;
  right: 1.4em;
  top: 0.68em;
}

.containerVagas .vagasSearch {
  display: flex;
  flex-direction: row;
  border: solid 1px #4a4a4a;
  width: 800px;
  border-radius: 5px;
  opacity: 0.8;
  padding: 5px;
  margin-bottom: 40px;
}

.containerVagas .vagasSearch {
  font-size: var(--smallFontSize);
  color: var(--titleColorDark);
  border: none;
  opacity: 0.9;
  width: 800px;
  height: 1.5rem;
}

.containerVagas .vagasSearch input:focus {
  outline: none;
}

.containerVagas .vagasSearch button {
  background: none;
  border: 0;
}

.containerVagas .vagasSearch button:hover {
  background: none;
  border: 0;
  cursor: pointer;
}

/* FIM DA PESQUISA */

/* ================================================================= */
/* ================================================================ */

/* área de vagas */

#pesquise h2 {
  color: var(--titleColorDark);
  font-size: var(--titleFontSize);
  background-color: var(--titleColorLight);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
}

#listaSection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 800px;
  max-height: 550px;
  box-shadow: 50px 70px 60px -80px #4a4a4a;
}

#sessaoLista,
.nomeVaga {
  background-color: #d9f8f2;
  padding: 0.5rem;
}

#sessaoLista,
.campo-vagas {
  margin-bottom: 1.5rem;
}

#sessaoLista,
.campo-vagas ul li {
  /* background-color: #333; */
  margin: 0.5rem 0 0 0.4rem;
  list-style: none;
}

#sessaoLista,
.erro {
  padding: 1.5rem;
  text-align: center;
}
/* Fim da área de vagas */

/* RESPONSIVIDADE */
@media (max-width: 420px) {
  main {
    margin-right: 30px;
    margin-left: 25px;
  }

  #principal #containerChamada {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #principal #containerChamada #textoChamada {
    margin: 0;
    text-align: center;
  }

  #principal #containerChamada #textoChamada p {
    text-align: justify;
    font-size: var(--mediumFontSize);
  }

  #principal #containerChamada #textoChamada #decoration1 {
    margin: -10px -120px;
  }

  #principal #containerChamada img {
    margin-top: 20px;
    width: 80%;
  }

  /* PESQUISA */
  .vagasSearch-txt {
    width: 100%;
    padding: 1em;
    border: solid 1px #4a4a4a;
    border-radius: 5px;
    color: var(--titleColorDark);
    opacity: 0.6;
    font-size: 1em;
    font-family: var(--fontSecondary);
  }

  #vagasSearchButton {
    display: none;
  }

  .containerVagas .vagasSearch {
    width: 350px;
    height: 1.5rem;
  }

  /* área de vagas */

  #pesquise h2 {
    width: 340px;
  }

  #listaSection {
    width: 340px;
  }
}

/*@media (max-width: 770px) 
{
  .vagasSearch-txt {
    width: 50%;
    margin: 0 auto;
  }

  #vagasSearchButton {
    right: 16em;
  }
}

@media (max-width: 330px) 
{
  * {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}*/
