@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --lightColor: #d8d8d8;
  --darkColor: #333;
  --titleColorDark: #4a4a4a;
  --titleColorLight: #fdc886;
  --fontPrimary: "Poppins", sans-serif;
  --fontSecondary: "Roboto", sans-serif;
  --smallFontSize: 16px;
  --mediumFontSize: 18px;
  --largeFontSize: 20px;
  --titleFontSize: 24px;
  --textCallsWeight: 600;
}

/* MAIN CSS */

/* CABECALHO */

main {
  font-family: var(--fontPrimary);
  color: var(--titleColorDark);
  font-size: var(--smallFontSize);
  margin-left: 60px;
  margin-right: 170px;
  margin-bottom: 2rem;
}

.cabecalhoONG {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.cabecalhoONG #tagUsuario {
  font-size: var(--mediumFontSize);
  background: #fdc886;
  padding: 0.3rem;
  border-radius: 10px;
  width: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.cabecalhoONG .cabecalhoBio #nomeUsuario {
  font-size: var(--titleFontSize);
  font-weight: var(--textCallsWeight);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.cabecalhoONG .cabecalhoBio #bio {
  margin-bottom: 0;
  text-align: justify;
}

.cabecalhoONG .cabecalhoInteresses {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.cabecalhoONG .cabecalhoInteresses h3 {
  font-size: var(--mediumFontSize);
}

.cabecalhoONG #campoInteresse {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.cabecalhoONG #campoInteresse li {
  margin-left: 0;
  margin-right: 0.5rem;
}

.cabecalhoONG .cabecalhoInteresses li:not(:last-child)::after {
  content: ", ";
}

/* BOTÕES DE CONTATO */

.cabecalhoONG .contato {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  justify-items: center;
  align-items: center;
}

.cabecalhoONG .contato .social {
  margin-left: 5px;
}

.cabecalhoONG .contato .social .socialButton {
  padding: 5px;
}

.cabecalhoONG .contato .social a:hover {
  opacity: 70%;
}

.cabecalhoONG .contato .social a,
a:visited {
  color: inherit;
}

/* CONTEUDO */

.conteudo-perfilONG {
  margin-top: 20px;
}

.conteudo-perfilONG .titulo {
  font-size: var(--largeFontSize);
  background: #fdc886;
  padding: 0.3rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.conteudo-perfilONG h2 {
  font-size: var(--largeFontSize);
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

.conteudo-perfilONG h3 {
  font-size: var(--mediumFontSize);
  margin-bottom: 0.5rem;
}

/* AÇÕES */
.conteudo-perfilONG .listaAcoes {
  height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 15px 55px 55px -75px #4a4a4a;
  border-radius: 7px;
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-left: 0.3rem;
}

.conteudo-perfilONG .listaAcoes .campoAcoes ul {
  padding-left: 0;
}

.conteudo-perfilONG .listaAcoes .campoAcoes ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.conteudo-perfilONG .listaAcoes .campoAcoes ul li:last-child {
  /* background-color: #333; */
  padding-bottom: 0.5rem;
}

/* VAGAS ABERTAS */
.conteudo-perfilONG .listaVagas {
  height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 15px 55px 55px -75px #4a4a4a;
  border-radius: 7px;
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-left: 0.3rem;
}

.conteudo-perfilONG .listaVagas .campoVagas ul {
  padding-left: 0;
}

.conteudo-perfilONG .listaVagas .campoVagas ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.conteudo-perfilONG .listaVagas .campoVagas ul li:last-child {
  /* background-color: #333; */
  padding-bottom: 0.5rem;
}

/* RESPONSIVIDADE */

@media (max-width: 420px) {
  main {
    margin-right: 30px;
    margin-left: 20px;
  }

  .cabecalhoONG #campoInteresse {
    align-items: center;
    text-align: center;
  }

  .cabecalhoONG #campoInteresse li {
    margin-right: 0.3rem;
  }
}
