@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --lightColor: #d8d8d8;
  --darkColor: #333;
  --titleColorDark: #4a4a4a;
  --titleColorLight: #fdc886;
  --fontPrimary: "Poppins", sans-serif;
  --fontSecondary: "Roboto", sans-serif;
  --smallFontSize: 16px;
  --mediumFontSize: 18px;
  --largeFontSize: 20px;
  --titleFontSize: 24px;
  --textCallsWeight: 600;
}

/* MAIN CSS */

/* CONTENT */
main {
  font-family: var(--fontPrimary);
  color: var(--titleColorDark);
  font-size: var(--smallFontSize);
  margin-left: 60px;
  margin-right: 170px;
  margin-bottom: 2rem;
}

.cabecalho {
  margin-top: 30px;
}

.cabecalho h2 {
  font-size: var(--titleFontSize);
  font-weight: var(--textCallsWeight);
  margin-bottom: 0.5rem;
  padding: 0;
}

.searchResultContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 200px;
  margin-top: 30px;
}

.searchResultContainer .searchResultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  box-shadow: 2px 2px 65px -45px #4a4a4a;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.searchResultContainer .searchResultItem h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.searchResultContainer .searchResultItem p {
  font-size: 15px;
  margin-bottom: 15px;
  width: 200px;
  text-align: center;
}

.searchResultContainer .searchResultItem button {
  margin-bottom: 5px;
  padding: 0.3rem;
  font-family: var(--fontSecondary);
  color: var(--titleColorDark);
  background: var(--titleColorLight);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchResultContainer .searchResultItem button:hover {
  font-weight: var(--textCallsWeight);
}

/* RESPONSIVIDADE */

@media (max-width: 420px) {
  main {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
  }

  .cabecalho h1 {
    font-size: var(--titleFontSize);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}