@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--fontSecondary);
  text-decoration: none;
  list-style: none;
}

:root {
  --bgColor: #fff;
  --lightColor: #d8d8d8;
  --darkColor: #333;
  --titleColorDark: #4a4a4a;
  --titleColorLight: #fdc886;
  --fontPrimary: "Poppins", sans-serif;
  --fontSecondary: "Roboto", sans-serif;
  --smallFontSize: 12px;
  --mediumFontSize: 14px;
  --largeFontSize: 16px;
  --titleFontSize: 20px;
  --titleFontSizeBiger: 32px;
  --textCallsWeight: 600;
  --mediuCallsWeight: 450;

  --bgColor: FFFEFC;
}


/* ================================================================= */
/* ================================================================ */

/* estilos da página de cadastro dos voluntários */

/* ================================================================= */
/* ================================================================ */



body #principal {
  background-color: var(--bgColor);
  height:fit-content;
  margin-top: 3rem;
}


/* sessão de apresentação da página */
#principal #containerChamada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#principal #containerChamada #textoChamada {
  /* background-color: #017071; */
  margin-left: 10vw;
}

#principal #containerChamada #textoChamada #decoration1 {
  position: absolute;
  width: 20%;
  opacity: 0.7;
  z-index: -1;
  margin: -100px -100px;
}

#principal #containerChamada #textoChamada h2 {
  margin-bottom: 5vh;
  font-size: var(--titleFontSizeBiger);
  font-weight: var(--mediuCallsWeight);
}

#principal #containerChamada #textoChamada p {
  font-size: 18px;
  text-align: left;

  width: 100%;
}

#principal #containerChamada #textoChamada button {
  margin-left: 5px;
  cursor: pointer;
}

#principal #containerChamada img {
  width: 42%;
}



#principal #formInfBasica{
  margin: 5px auto 5px auto;
}

#principal #containerInteresses{

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#principal #containerInteresses #listaInteresses #tabelaInteresses {
  height: fit-content;
  background-color: rgb(195, 195, 199);
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#principal #containerInteresses #listaInteresses #tabelaInteresses tr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  border: 1px solid darkgrey;
}


#principal #containerExperiencias{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#principal #containerExperiencias #dateAreaInput{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin: 20px 0px 20px 0px;
  /* background-color: #fdc886; */
}


/* Classes para títulos */

.titulosH2{
  text-align: center;
  margin:50px 0px 50px 0px;
  font-size: var(--titleFontSizeBiger);

}

.titulosH3{
  text-align: center;
  margin: 10px 0px 10px 0px;
}

/* fim das classes para títulos */

/* classes para componentes de formulários */
.inputText {
  border-radius: 5px;
  display: block;
  height: 4.5vh;
  width: 100%;
  margin-bottom: 20px;
}


.btnArea {
    /* background-color: #8b73eb; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.formBtn {
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  text-align: center;
}

.textArea{
  width: 100%;
  height: 10vh;
  border-radius: 5px;

}

.labels{
  /* color: rebeccapurple; */


}



/* fim das classes para componentes de formulários */



/* Classes que definem containers e regioes */

.regiaoInput{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.cardExp{
  margin: 30px;
  background-color: #fdc886;
}

.listaDetalhes{
  width: 50%;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color:#9d9d9e;
  border-radius: 20px;
  scrollbar-3dlight-color: #333 ;
}

.campoDetalhe{
   background-color: #9d9d9e;
   border-radius: 20px;
}

/* .dateAreaInput{
  height: fit-content;
  margin: 20px 0px 20px 0px;
  background-color: #fb8f0b;

} */

.inputDate{
  height: 30px;
}



.formContainerGrande {
  background-color: #d9d9d9;
  width: 30vw;
  height: fit-content;
  border-radius: 20px;
  /* margin-left: 5rem; */
  padding: 55px;
}

.formContainerPequeno{
  /*  */
  width: 20vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 30px;
}

.regiaoContainer{
  height: fit-content;
  width: 100%;
  padding: 50px;
  margin-top: 100px;
}


.tabelaInteresses{
  /* background-color: #333; */

  /* height: fit-content;
  width: 30vw;
  border-radius: 20px; */
  width: 30vw;
  border-radius: 20px;

}


/* fim das classes que definem containers e regioes */





/* classes utilitárias para uso geral */
.roundBtn {
  border-radius: 10px;
  width: 40px;
  height: 20px;
  background-color: #fdc886;
  border: none;
}


.infBasica{
  margin: 20px auto 20px auto;
}
/* fim das classes utilitarias para uso geral */
