/* HEADER CSS*/

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .wrapper img {
    width: 180px;
    margin-left: 60px;
  }
  
  .wrapper .wrapper-search {
    display: flex;
    flex-direction: row;
    border: solid 1px #4a4a4a;
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px;
    width: 400px;
    height: 32px;
    margin-left: 30px;
  }
  
  .wrapper .wrapper-search .wrapper-search-txt {
    font-family: Roboto;
    font-size: 15px;
    color: #4a4a4a;
    background-color: transparent;
    border: none;
    opacity: 0.6;
    width: 400px;
  }
  
  .wrapper .wrapper-search .wrapper-search-button {
    width: 35px;
    margin-left: 180px;
    background-color: transparent;
    border: none;
  }
  
  .wrapper-search img {
    margin: 0px;
    width: 25px;
  }
  
  .wrapper .wrapper-navbar {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    list-style: none;
    font-family: Roboto;
    color: #4a4a4a;
    font-size: 18px;
    height: 40px;
  }
  
  .wrapper .wrapper-navbar .wrapper-li {
    margin-left: 30px;
    margin-top: 8px;
  }
  
  .wrapper .wrapper-navbar .wrapper-button-active:hover {
    color: black;
  }
  
  .wrapper .wrapper-navbar .wrapper-li:hover {
    background: white;
    color: #fdc886;
  }
  
  .wrapper .wrapper-foto {
    width: 80px;
    margin-right: 60px;
    margin-left: 0px;
  }


  .roundBtn {
    border-radius: 10px;
    width: 40px;
    height: 20px;
    background-color: #fdc886;
    border: none;
  }
  
  body #principal {
    height:fit-content;
    margin-top: 3rem;
  }
  
  
  
  #principal #containerChamada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* background-image: url(../img/manchaTintaRosa.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50px 100px; */
    /* background-color: #017071; */
  }
  
  #principal #containerChamada #textoChamada {
    /* background-color: #017071; */
    margin-left: 10vw;
  }
  
  #principal #containerChamada #textoChamada #decoration1 {
    position: absolute;
    width: 20%;
    opacity: 0.4;
    z-index: -1;
    margin: -100px -100px;
  }
  
  #principal #containerChamada #textoChamada h2 {
    margin-bottom: 5vh;
    font-size: 30px;    
    color: #4a4a4a;
  }
  
  #principal #containerChamada #textoChamada p {
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
    width: 100%;
  }
  
  #principal #containerChamada #textoChamada button {
    margin-left: 5px;
    cursor: pointer;
  }
  
  #principal #containerChamada img {
    width: 42%;
  }

/* ================================================================= */
/* ================================================================ */

/* Inicio 치rea do filtro */

#pesquise {
  color: #4a4a4a;
  font-size: 18px;
  margin-left: 25%;
}

#xpListaContainer {
  background-color: rgb(240, 252, 250, 1);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 10px;
}

#campoAreaAtuacao label {
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 10px;  
}

.formContainer .inputText {
  border-radius: 5px;
  height: 4.5vh;
  /* width: 100%; */
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 10px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.filtro {
  margin-right: 10px;
}

.formBtn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0px 10px;
  width: 100%;
  cursor: pointer;
}
/* Fim da 치rea de filtro */

/* 치rea de vagas */

.lista-vagas h2 {
    text-align: center;
 }

 .lista-vagas{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(240, 252, 250, 1);
  /* overflow: hidden;
  overflow-y: scroll; */
}

 .lista-vagas .campo-vagas{
   background-color: #fceedc;
   border-radius: 10px;
   width: 90%;
}

 .lista-vagas .campo-vagas ul li{
  /* background-color: #333; */
  margin-bottom: 10px;
}
/* Fim da 치rea de vagas */